/*******************************************************************
*      Reset
********************************************************************/

ul{
  margin: 0;  
  margin-left: 12px;

  padding: 0;
}

ul.nostyle{
  list-style: none;
  margin-left: 0;
}

body{
  margin: 0;
  padding: 0;
}

/*******************************************************************
*      Main Layout
********************************************************************/

body {
    color: #0a0a0a;
    font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    font-weight: normal;
    line-height: 1.5;
    font-size: 100%;
}

#menu{
  background-color: #373E48;
  /*background: rgb(54, 70, 94);
/*background: -moz-linear-gradient(90deg, rgb(54, 70, 94) 30%, rgb(78, 93, 116) 70%);
background: -webkit-linear-gradient(90deg, rgb(54, 70, 94) 30%, rgb(78, 93, 116) 70%);
background: -o-linear-gradient(90deg, rgb(54, 70, 94) 30%, rgb(78, 93, 116) 70%);
background: -ms-linear-gradient(90deg, rgb(54, 70, 94) 30%, rgb(78, 93, 116) 70%);
background: linear-gradient(180deg, rgb(54, 70, 94) 30%, rgb(78, 93, 116) 70%);
*/

  position: absolute;
  width:80px;
  left:0;
  top:0;
  bottom: 0;
  z-index:100;
}

#menu-content{
  background-color: #687486;
  top:0;
  bottom: 0;
  position: absolute;
  width:300px;
  left:80px;

}

#main{
  top:0;
  bottom: 24px;
  background-color: #e4e4e4;
  position: absolute;
  overflow-x: hidden;
  right:0;
}

#status-bar{
  background: #d4d4d4 none repeat scroll 0 0;
  bottom: 0;
  height: 24px;
  position: absolute;
  right: 0;
}


#log-button{
  background-image: url('../img/system/log.png');
  width: 16px;
  height: 16px;
  margin-top: 4px;
  margin-right: 4px;
  float:right;
  cursor: pointer;
}

#status-button{
  width: 19px;
  height: 19px;
  margin-top: 3px;
  margin-right: 4px;
  float:right;
}

.status-button-online{
  background-image: url('../img/system/online.png') !important;
}

.status-button-offline{
  background-image: url('../img/system/offline.png') !important;
}

.status-button-limited{
  background-image: url('../img/system/limited.png') !important;
}


/*******************************************************************
*      Menu 
********************************************************************/

#app-title{
  /*text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
  color:black;*/
  color:#ffffff;
  font-weight: bolder;
  font-size: 18px;
  cursor: pointer;
  height:38px;
  /*-webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow:    0 1px 2px 0 rgba(0, 0, 0, 0.5);
  box-shadow:         0 1px 2px 0 rgba(0, 0, 0, 0.5);*/
  padding-left: 10px;
  padding-top: 12px;
}

.menu-open{
  left:380px;
}

.menu-closed{
  left:80px;
}

.main-menu-item{
  display:block;
  width:48px;
  height: 48px;
  background-repeat:no-repeat;
  margin-left:8px; 
  cursor: pointer;
}

#corpus-menu{
  background-image:url('../img/system/corpus.png');
}

#module-menu{
  background-image:url('../img/system/module2.png');
}

#process-menu{
  background-image:url('../img/system/process.png');
}

#settings-menu{
  background-image:url('../img/system/settings.png');
}

#help-menu{
  background-image:url('../img/system/help.png');
}

ul.main-menu, .main-menu li{
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.main-menu{
  margin-top:8px;
  margin-left:8px;
}

.main-menu li{
  margin-bottom:10px;
}



.bottom-menu{
  position: absolute;
  bottom: 0;
}

#menu-content-title{
  /*background-color: #36465E;*/
  background-color: #373E48;
  font-size: 24px;
  padding: 6px 12px;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow:    0 1px 2px 0 rgba(0, 0, 0, 0.5);
  box-shadow:         0 1px 2px 0 rgba(0, 0, 0, 0.5);
  height: 38px;
  overflow: hidden;
  text-overflow:ellipsis;
  color:#ffffff;
  text-align: center;
}

#menu-content-body{
  padding: 12px;
  position: relative;
  color:#ffffff;
  overflow-wrap: break-word;
}

.settings-field-title{
  background: #d4d4d4 none repeat scroll 0 0;
  color: #4e5c72;
  font-size: 16px !important;
  font-weight: bold;
  margin-top: 4px;
  padding: 4px;
}

.settings-field-body{
  font-size: 14px;
  margin-bottom: 8px;
  padding: 8px;
}

/*******************************************************************
*      Modules Manager
********************************************************************/

#modulemanager-list{
  background-color: rgb(133, 146, 165);
  padding: 8px;
  -webkit-box-shadow: inset 0px 0px 1px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    inset 0px 0px 1px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 0px 1px 0px rgba(50, 50, 50, 0.75) inset;
}

#modulemanager-menu{
  margin-bottom: 12px;
}

#modulemanager-add-new{
  background-image:url('../img/system/add.png');
  padding-left:32px;
  min-height: 28px;
  background-repeat: no-repeat;
  background-position: left middle;
  cursor:pointer;
}

/*******************************************************************
*      Process/Run Manager
********************************************************************/

.run-list li{
  cursor: pointer;
}

.run-list li:hover{
  text-decoration: underline;
}



/*******************************************************************
*      Command bar
********************************************************************/

#cmdbar{
 width: 100%; 
  min-height:30px;
  word-wrap:break-word;
    outline:0px solid transparent;
    height:auto;
    overflow: hidden;
    margin-bottom: 10px;
    padding-left:20px;
    cursor: text;
}


#cmdbar:focus{
  outline:0px solid transparent;
}

#cmd-bar-container{
  padding-top: 10px;
  background-color: #fff;
  width:100%;
   box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12);
   min-height: 40px;
   max-height: 40px;
   /*max-height: 100px;*/
   position:relative;
   z-index: 20;
}


/*******************************************************************
*      Frames Layout
********************************************************************/

#fullscreen-container{
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  bottom: 0;
  top:0;
  right:0;
  left: 0;
  background-color: #fafafa;
  z-index: 9999;
}

#active-content{
  padding-top:20px;
  width: 100%;
  position: relative;
}

.frame{
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12);
    margin: 0 24px 24px;
    position: relative;
    background-color: #fafafa;
}

.frame-header{
  display: block;
  height:32px;
  width: 100%;
  border-bottom: 1px solid #d4d4d4;
}

.frame-title{
  float:left;
  font-size: 14px;
  margin-left: 8px;
  margin-top: 4px;
  margin-right: 200px;
  color:#4e5c72;
  overflow: hidden;
  text-overflow : ellipsis;
  max-height: 24px;
}

.frame-tools{
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
}

.frame-tool{
  display: inline-block;
  width:24px;
  height: 24px;
  float:right;
  margin-right: 4px;
  margin-top: 4px;
  cursor: pointer;
}

.frame-tool-pin{
  background-image:url('../img/system/unpinned.png');
}

.frame-tool-unpin{
 background-image:url('../img/system/pinned.png'); 
}

.frame-tool-close{
  background-image:url('../img/system/close.png');
}

.frame-tool-openfs{
  background-image:url('../img/system/openfs.png');
}

.frame-tool-quitfs{
  background-image:url('../img/system/quitfs.png');
}

.frame-tool-hide{
  background-image:url('../img/system/hide.png'); 
}

.frame-tool-show{
  background-image:url('../img/system/show.png'); 
}

.frame-body{
  padding:8px;
  word-wrap: break-word;
}

/*******************************************************************
*      Draw2d Module Canvas
********************************************************************/

.canvas-container{
  position:relative;
  height:500px;
  width: 100%;
  -webkit-box-shadow: 0 1px 2px rgba(50, 50, 50, 0.25);
  -moz-box-shadow:    0 1px 2px rgba(50, 50, 50, 0.25);
  box-shadow:         0 1px 2px rgba(50, 50, 50, 0.25);
}

.canvas-view{
  height:1000px;
  width:2000px;
  background: #efefef url('../img/backgrounds/fabric_of_squares_gray/fabric_of_squares_gray.png') repeat;
}




/*******************************************************************
*      Module viewer
********************************************************************/

.module-view-infos-panel{
  height:200px;
  width: 100%;
  position: relative;
  padding: 4px;
}

.module-header{
  height: 32px;
  left: 0;
  position: absolute;
  top: 32px;
  width: 100%;
  background: rgba(79, 93, 115,0.85);

}

.module-content-view{
  margin-top:32px;
}

.module-header-item{
  padding-top:2px;
  color:#ffffff;
  font-weight: bold;
  cursor:pointer;
}

.module-header-item:hover{
  color:yellow;
}

.module-header-item.active{
  color:yellow;
}


.module-source-editor{
  position: relative;
  height:500px;
  width: 100%;
}

.module-view-toolbox{
  height:32px;
  width: 100%;
}

.module-view-toolbox-item{
  margin-left:12px;
  cursor: pointer;
}

.mv-info-title{
  font-weight: bold;
  font-size: 1.65em;
}

/*******************************************************************
*      UI widgets
********************************************************************/


.info-box{
  /*border: 1px solid rgba(79, 93, 115, 0.85);*/
  margin-bottom: 12px;
}

.info-box-title{
  background: rgba(79, 93, 115, 0.85) none repeat scroll 0 0;
  color: #fff;
  font-weight: bold;
  padding: 4px;
}

.info-box-content{
  padding: 8px;
}


.treeview-node{
  background-image:url('../img/system/folder4.png');
  padding-left:40px;
  min-height: 32px;
  background-repeat: no-repeat;
  background-position: left top;
  margin-top: 2px;
  padding-top: 6px;
  font-size: 14px;
  cursor: pointer;
  color:#ffffff;
  z-index: 9999;
}

.treeview-leaf{
  background-image:url('../img/system/file.png');
  padding-left:40px;
  min-height: 32px;
  background-repeat: no-repeat;
  background-position: left top;
  margin-top: 2px;
  font-size: 14px;
  padding-top: 6px;
  cursor: pointer;
  color:#ffffff;
}

.warning-field{
  background-image:url('../img/system/warning-icon.png');
  padding-right: 20px;
  background-repeat: no-repeat;
  background-position: right;
}

.error-message{
  color:rgb(216, 50, 50);
  background-image:url('../img/system/warning-icon.png');
  padding-left: 20px;
  background-repeat: no-repeat;
  background-position: left;
  margin: 12px;
}

.treeview-module-folder{
  background-image:url('../img/system/folder5.png');
}

.treeview-module-item{
  background-image:url('../img/system/module.png');
}

.treeview-node-waiting{
  background-image: url('../img/system/ajax-loader-orange.gif') !important;
}

.treeview-leaf-waiting{
  background-image: url('../img/system/ajax-loader-white.gif') !important;
}


.file-var{
  cursor: pointer;
  color:#134E7A;
}

.iframe-var{
  cursor: pointer;
  color:#134E7A;
}


/*******************************************************************
*      UI widgets // Modal
********************************************************************/

.cpm-modal-header{
  height:32px;
}

#cpm-modal-bg{
  position: fixed;
  background-color:rgba(0,0,0,0.65);
  z-index:2000;
  width: 100%;
  height: 100%;
}

.cpm-modal{
  z-index: 2001;
  background-color: #fafafa;
  margin: 5% auto;
  width: 75%;
  z-index: 2001;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.cpm-modal-content{
  position: relative;
  height: 100%;
  width: 100%;
}

.cpm-modal-close{
  background-image: url("../img/system/close.png");
  width:24px;
  height: 24px;
  float:right;
  cursor: pointer;
  margin-right:4px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.pre-wrapped {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}


/*******************************************************************
*      Misc styles
********************************************************************/


a {
  color: #4e5c72;
  font-weight: bold;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

.link{
  color: #4e5c72;
  font-weight: bold;
  text-decoration: none;
  cursor:pointer;
}

.link:hover{
  text-decoration: underline;
}