/*******************************************************************
*      Main Layout
********************************************************************/

body {
    color: #0a0a0a;
    font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    font-weight: normal;
    line-height: 1.5;
    font-size: 100%;
}

#menu{
  background-color: #444444;
  position: absolute;
  width:80px;
  left:0;
  top:0;
  bottom: 0;
}

#menu-content{
  top:0;
  bottom: 0;
  background-color: #555555;
  position: absolute;
  width:300px;
  left:80px;
}

#main{
  top:0;
  bottom: 0;
  background-color: #e4e4e4;
  position: absolute;
  overflow-x: hidden;
  right:0;
}




/*******************************************************************
*      Command bar
********************************************************************/

#cmdbar{
 width: 100%; 
  min-height:30px;
  word-wrap:break-word;
    outline:0px solid transparent;
    height:auto;
    overflow: hidden;
    margin-bottom: 10px;
    padding-left:20px;
    cursor: text;
}


#cmdbar:focus{
  outline:0px solid transparent;
}

#cmd-bar-container{
  padding-top: 10px;
  background-color: #fff;
  width:100%;
   box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12);
   min-height: 40px;
   max-height: 100px;
   position:relative;
}

/*******************************************************************
*      Menu 
********************************************************************/


.menu-open{
  left:380px;
}

.menu-closed{
  left:80px;
}

.main-menu-item{
  display:block;
  width:48px;
  height: 48px;
  background-repeat:no-repeat;
  margin-left:8px; 
  cursor: pointer;
}

#corpus-menu{
  background-image:url('../img/system/corpus.png');
}

#module-menu{
  background-image:url('../img/system/module2.png');
}

#process-menu{
  background-image:url('../img/system/process.png');
}

#settings-menu{
  background-image:url('../img/system/settings.png');
}

#help-menu{
  background-image:url('../img/system/help.png');
}

ul.main-menu, .main-menu li{
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.main-menu{
  margin-top:12px;
  margin-left:8px;
}

.main-menu li{
  margin-bottom:10px;
}

#app-title{
  text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
  color:black;
  font-weight: bolder;
  font-size: 1.6rem;
  cursor: pointer;
  height:50px;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow:    0 1px 2px 0 rgba(0, 0, 0, 0.5);
  box-shadow:         0 1px 2px 0 rgba(0, 0, 0, 0.5);
  padding-left: 8px;
  padding-top: 4px;
}

.bottom-menu{
  position: absolute;
  bottom: 0;
}

#menu-content-title{
  border-bottom: 2px solid #d4d4d4;
  color: #d4d4d4;
  font-size: 24px;
  padding: 6px 12px;
}

#menu-content-body{
  padding: 12px;
  position: relative;
}

/*******************************************************************
*      Frames Layout
********************************************************************/

#active-content{
  margin-top:20px;
}

.frame{
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12);
    margin: 0 24px 24px;
    position: relative;
    background-color: #fafafa;
}

.frame-header{
  display: block;
  height:32px;
  width: 100%;
  border-bottom: 1px solid #d4d4d4;
}

.frame-title{
  float:left;
  font-size: 14px;
  margin-left: 8px;
  margin-top: 4px;
  margin-right: 200px;
  color:#4e5c72;
  overflow: hidden;
  text-overflow : ellipsis;
  max-height: 24px;
}

.frame-tools{
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
}

.frame-tool{
  display: inline-block;
  width:24px;
  height: 24px;
  float:right;
  margin-right: 4px;
  margin-top: 4px;
}

.frame-tool-pin{
  background-image:url('../img/system/unpinned.png');
}

.frame-tool-unpin{
 background-image:url('../img/system/pinned.png'); 
}

.frame-tool-close{
  background-image:url('../img/system/close.png');
}

.frame-body{
  padding:8px; 
}

/*******************************************************************
*      Draw2d Module Canvas
********************************************************************/

.canvas-view{
  height:400px;
  width: 100%;
  background: #efefef url('../img/backgrounds/fabric_of_squares_gray/fabric_of_squares_gray.png') repeat;
  -webkit-box-shadow: 0 1px 2px rgba(50, 50, 50, 0.25);
  -moz-box-shadow:    0 1px 2px rgba(50, 50, 50, 0.25);
  box-shadow:         0 1px 2px rgba(50, 50, 50, 0.25);
}






.treeview-node{
  background-image:url('../img/system/folder.png');
  padding-left:32px;
  min-height: 32px;
  background-repeat: no-repeat;
  background-position: middle;
  margin-top: 2px;
}

.treeview-leaf{
  background-image:url('../img/system/file.png');
  padding-left:32px;
  min-height: 32px;
  background-repeat: no-repeat;
  background-position: middle;
  margin-top: 2px;
}